/* FAQ section */
section {
  overflow: hidden;
  position: relative;
}

.section-bg:before {
  content: "";
  background: #fff;
  position: absolute;
  bottom: 70px;
  top: 50px;
  left: 0;
  right: 0;
  transform: skewY(-2deg);
  z-index: -1;
}
