/* FAQ section */
section {
  overflow: hidden;
  position: relative;
}

.section-bg:before {
  content: "";
  background: #f7fafc;
  position: absolute;
  bottom: 70px;
  top: -35px;
  left: 0;
  right: 0;
  transform: skewY(2deg);
  z-index: -1;
}
.faq {
  background-image: url("../img/tank.png");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}
/* faq2  */
.faq-two{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.faq-two-css{
  background-color: white;
  -webkit-box-shadow: 6px 8px 16px 2px rgba(0,0,0,0.23); 
  box-shadow: 6px 8px 16px 2px rgba(0,0,0,0.23);
}
