header {
  background-image: url("../img/wolf-f9-o6.png"), url("../img/wolf-f9-o6-l.png");
  background-size: contain;
  background-position: right, left;
  background-repeat: no-repeat;
}
.color-bg-header {
  background-color: rgb(28, 28, 28);
  background-color: linear-gradient(
    180deg,
    rgba(28, 28, 28, 1) 0%,
    rgba(34, 34, 34, 1) 66%,
    rgba(42, 46, 50, 1) 100%
  );
}
