/* Discord Navigation */
a, 
a:link,
a:visited{
    text-decoration: none;
}
.icon-discord{
    padding-left: 5px;
}
.icon-coins{
    padding-right: 5px;
}
.discord-navigation{
    font-size: 14px;
}
.navigation-padding{
    padding: 16px;
}
.navigation-under-discord{
    font-weight: bold;
}
.logo-img-navigation{
    height: 37.5px;
}
/* additional */
.navbar-discord{
    color: white;
}
.navbar-discord:hover{
    color: rgb(228, 228, 228);
}
.discord-nav-padding{
    padding-left: 0;
}